{% extends "base_elements.html" %}
{% block scripts %}<script src="/js/opennaas-dc-gui.js"></script>{% endblock %}
{% block bodyclass %}class='resource_router'{% endblock %}
{% block maincontent %}
<div id="maincontent">
<input type=hidden id="resourcename" value="{{ name }}">
<h1 id="resourcelabel"></h1>
<div id="tabs">
<ul>
<li><a href="#tabs-1">Chassis</a></li>
<li><a href="#tabs-2">Queue</a></li>
<li><a href="#tabs-3">Vlans</a></li>
<li><a href="#tabs-4">Resource Info</a></li>
</ul>
<div id="tabs-1">

<div id="port_aggr_dialog" title="Create new Aggregate">
	<form>
			 <style>
dialog_fieldset.label, dialog_fieldset.input, dialog_fieldset.select { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
input.select { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }

</style>
		<fieldset id='dialog_fieldset'>
			<label for="name">Name</label>
			<input type="select" name="name" id="name" value="" class="text ui-widget-content ui-corner-all">
			<label for="interfaces">Used interfaces</label>
			<select name="interfaces" id="interfaces" value="" class="text ui-widget-content ui-corner-all" >
				<option value="">-- Choose Action --</option>
				<option value="">-- Choose Action --</option>
			</select>
			<label for="link_speed">Link speed</label>
			<input type="text" name="link_speed" id="link_speed"  class="text ui-widget-content ui-corner-all">
			<!-- Allow form submission with keyboard without duplicating the dialog button -->
			<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</fieldset>
	</form>
</div>

<div id="port_show_aggr_dialog" title="Aggregate Info ">
	<form>
			 <style>
dialog_show_fieldset.label, dialog_show_fieldset.input, dialog_show_fieldset.select { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
input.select { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }

</style>
		<fieldset id='dialog_show_fieldset'>
			<label for="name">Name</label>
			<input type="text" name="aggr_name" id="aggr_name" value="" class="text ui-widget-content ui-corner-all"  readonly>
			<label for="interfaces">Used interfaces</label><br>
			<select MULTIPLE name="aggr_interfaces" id="aggr_interfaces" value="" class="text ui-widget-content ui-corner-all"  readonly="readonly">
			</select><br>
			<label for="link_speed">Link speed</label>
			<div id="link_speed"></div>
			
			<input type="text" name="aggr_link_speed" id="aggr_link_speed"  class="text ui-widget-content ui-corner-all" readonly>
			<label for="link_speed">Aggregation options</label>
			<input type="text" name="aggr_options" id="aggr_options"  class="text ui-widget-content ui-corner-all" readonly>
		</fieldset>
	</form>
</div>


<pre id='ChassisCommitIndicator'>Processing ... <img src='/img/loading.gif'></pre>
{{ datatable('ChassisTable', ['ID','Interface name','Interface description','IPv4','IPv6','Status','Action'] ) }}
<br>
<select id='ChassisActionSelect'>
<option value="">-- Choose Action --</option>
<option value="create_port_aggr">Create new Port aggregation</option>
</select>
<button id='ChassisActionButton'>Go</button>
</div>
<div id="tabs-2">
{{ datatable('QueueTable', ['ID','Resource','Queue ID','Entry description','Action']) }}
<br>
<select id='QueueActionSelect'>
<option value="">-- Choose Action --</option>
<option value="execute">Execute queue</option>
<option value="remove">Remove selected queue entries</option>
<option value="clear">Clear Queue</option>
</select>
<button id='QueueActionButton'>Go</button>
<pre id='QueueCommitIndicator'>Processing ... <img src='/img/loading.gif'></pre>
</div>
<div id="tabs-3">
{{ datatable('VlanTable', ['ID','Interface name','Port mode','VLANs','Native VLAN', 'Action']) }}
</div>
<div id="tabs-4">

<div id='contextInfo'>
<table>
<th>Protocol Context</th>
<tr><td>authentication type</td><td><div id='protocol_authType'></div></td></tr>
<tr><td>protocol</td><td><div id='protocol'></div></td></tr>
<tr><td>username</td><td><div id='protocol_username'></div></td></tr>
<tr><td>password</td><td><div id='protocol_password'></div></td></tr>
<tr><td>context uri</td><td><div id='protocol_uri'></td></tr>
</table>
</div>
</div>
</div>
</div>
{% endblock %}
