{% extends "base_elements.html" %}
{% block scripts %}<script src="/js/opennaas-dc-gui.js"></script>
<script src="/js/kinetic-v5.1.0.min.js"></script>{% endblock %}
{% block bodyclass %}class='topology'{% endblock %}
{% block maincontent %}
<div id="maincontent">

<h1>Topology</h1>
<div id="topology"> </div>
<div id="container"></div>
<select id='TopologyActionSelect'>
<option value="">-- Choose Action --</option>
<option value="build">(Re)build Topology</option>
</select>
<button id='TopologyActionButton'>Go</button>
<pre id='TopologyIndicator'>Processing ... <img src='/img/loading.gif'></pre>


</div>
{% endblock %}
